<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definimos dónde se guardarán los logs -->
    <property name="LOG_PATH" value="./logs" />

    <!-- 1. Consola (para ver qué pasa mientras programas) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. Archivo application.log (General) -->
    <appender name="APPLICATION_FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 3. Archivo audit.log (Solo para servicios - Requisito 4) -->
    <appender name="AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>audit.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - AUDIT - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger específico para el Aspecto de Auditoría -->
    <logger name="AuditLogger" level="INFO" additivity="false">
        <appender-ref ref="AUDIT_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Configuración por defecto para toda la app -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE" />
    </root>

</configuration>